<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Agendamentos.css">
    <title>Agendamentos</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html"><img src="img/Logo_pequena.png" alt="Busca Pharma"/></a>
        </div>
        <nav>
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="Medicamentos.html">Medicamentos</a></li>
                <li><a href="Agendamentos.html">Agendamentos</a></li>
            </ul>
        </nav>
        <div class="auth-buttons" style="font-size: large;">
            <button class="register-btn"><a href="user_register.html">Cadastrar-se</a></button>
            <button class="login-btn"><a href="user_login.html">Entrar</a></button>
        </div>
    </header>
    
</body>
</html>

