<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="img/Logo_pequena.png" alt="BuscaPharma">
            </a>
        </div>

        <nav>
            <a class="linksExternos" href="index.html">Home</a>
            <a class="linksExternos" href="Agendamentos.html">Agendamentos</a>
            <a class="linksExternos" href="Medicamentos.html">Medicamentos</a>
            <a class="botoes" href="user_register.html"><button class="btnRegister">Cadastre-se</button></a>
            <a class="botoes" href="user_login.html"><button class="btnLogin">Logar</button></a>
        </nav>
    </header>
</header>
</body>