<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localizar Remedio</title>
    <link rel="stylesheet" href="css/localizar_remedio.css">
</head>

<body>
   
    <div class="imagemMapaIndaiatuba">
        <img src="img/mapaIndaiatuba.png" alt="imagemMapaIndaiatuba">
    </div>

    <!-- Seção de farmácias -->
    <section class="farmacias">
        <h2>Farmácias Populares em Indaiatuba</h2>
        <ul>
            <li>Farmácia Popular Indaiatuba - Rua do Comércio, 123</li>
            <li>Farmácia Central - Avenida dos Trabalhadores, 456</li>
            <li>Farmácia São João - Rua das Flores, 789</li>
            <li>Farmácia da Cidade - Rua Principal, 101</li>
            <li>Farmácia Vida - Rua das Palmeiras, 202</li>
        </ul>
    </section>

    <script src="javaScript/produto.js"></script>
</body>

</html>