{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Falha ao Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="logoFundo">
        <img src="{% static 'css/Logo_Login.png' %}" alt="Logo">
    </div>

    <div class="wrapper">
        <div class="form-box login">
            <h2>Falha ao Login</h2>
            <p class="error-message">Ocorreu um erro ao tentar fazer login. Por favor, verifique suas credenciais e tente novamente.</p>
            <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input type="password" name="password" required>
                    <label>Senha</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Lembre-se</label>
                    <a href="#">Esqueceu senha</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="login-register">
                    <p>Não possui uma conta?<a href="{% url 'cadastro' %}">Registre-se</a></p>
                </div>
            </form>
        </div>
    </div>
    <script src="login.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>