{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Falha ao Login</title>
    <link rel="stylesheet" href="{% static 'css/login_falha.css' %}">
</head>
<body>
    <div class="logoFundo">
        <img src="{% static 'css/Logo_Login.png' %}" alt="Logo">
    </div>

    <div class="wrapper">
        <div class="form-box login">
            <h2>Falha no Login</h2>
            <h3 class="error-message">Ocorreu um erro ao tentar fazer login.</h3>
            <h3 class="error-message">Por favor, verifique suas credenciais</h3>
            <h3 class="error-message">e tente novamente.</h3>
           <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                    <input type="email" required name = "email">
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <!-- Adicionando o ID ao campo de senha -->
                    <input type="password" id="password" required name = "password">
                    <label>Senha</label>
                </div>

                <!-- Show Password Container -->
                <div class="show-password-container">
                    <input type="checkbox" id="show-password">
                    <label for="show-password">Mostrar Senha</label>
                </div>

                <div class="remember-forgot">
                    <label><input type="checkbox">Lembre-se</label>
                    <a href="#">Esqueceu senha</a>
                </div>

                <button type="submit" class="btn">Login</button>

                <div class="login-register">
                    <p>Não possui uma conta?<a href="{% url 'cadastro' %}">Registre-se</a></p>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'js/login.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>