<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/medicamentos.css">
    <title>Medicamentos</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="home.html"><img src="img/Logo_pequena.png" alt="Busca Pharma"/></a>
        </div>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="Medicamentos.html">Medicamentos</a></li>
            </ul>
        </nav>
        <div class="auth-buttons">
            <button class="register-btn"><a href="user_register.html">Cadastrar-se</a></button>
            <button class="login-btn"><a href="user_login.html">Entrar</a></button>
        </div>
    </header>
    <!-- Barra de Pesquisa -->
    <div class="search-container">
        <input type="text" placeholder="Insira o nome do medicamento" class="search-input" id="search-bar">
    </div>
    
    <!-- Exibição de Produtos -->
    <section class="product-grid" id="product-grid">
        <div class="product-card">
            <img src="https://img.freepik.com/premium-psd/color-wing-png-isolated-transparent-background_1034016-9841.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1724976000&semt=ais_hybrid" alt="Tadalafila - 5 Mg">
            <p class="product-name">Tadalafila - 5 Mg</p>
            <a class="product-btn" href="produto.html">Ver Mais</a>
        </div>
        <div class="product-card">
            <img src="https://img.freepik.com/premium-psd/color-wing-png-isolated-transparent-background_1034016-9841.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1724976000&semt=ais_hybrid" alt="Dipirona - 10 Mg">
            <p class="product-name">Dipirona - 10 Mg</p>
            <a class="product-btn" href="produto.html">Ver Mais</a>
        </div>
        <div class="product-card">
            <img src="https://img.freepik.com/premium-psd/color-wing-png-isolated-transparent-background_1034016-9841.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1724976000&semt=ais_hybrid" alt="Omega 3 - 120 Cp">
            <p class="product-name">Omega 3 - 120 Cp</p>
            <a class="product-btn" href="produto.html">Ver Mais</a>
        </div>
        <div class="product-card">
            <img src="https://img.freepik.com/premium-psd/color-wing-png-isolated-transparent-background_1034016-9841.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1724976000&semt=ais_hybrid" alt="Tanbdalafila - 5 Mg">
            <p class="product-name">Tadalafila - 5 Mg</p>
            <a class="product-btn" href="produto.html">Ver Mais</a>
        </div>
        <div class="product-card">
            <img src="https://img.freepik.com/premium-psd/color-wing-png-isolated-transparent-background_1034016-9841.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1724976000&semt=ais_hybrid" alt="Direpirona - 10 Mg">
            <p class="product-name">Dipirona - 10 Mg</p>
            <a class="product-btn" href="produto.html">Ver Mais</a>
        </div>
        <div class="product-card">
            <img src="https://img.freepik.com/premium-psd/color-wing-png-isolated-transparent-background_1034016-9841.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1724976000&semt=ais_hybrid" alt="Ojimega 3 - 120 Cp">
            <p class="product-name">Omega 3 - 120 Cp</p>
            <a class="product-btn" href="produto.html">Ver Mais</a>
        </div>
        <div class="product-card">
            <img src="https://img.freepik.com/premium-psd/color-wing-png-isolated-transparent-background_1034016-9841.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1724976000&semt=ais_hybrid" alt="Tavewdalafila - 5 Mg">
            <p class="product-name">Tadalafila - 5 Mg</p>
            <a class="product-btn" href="produto.html">Ver Mais</a>
        <div class="product-card">
            <img src="https://img.freepik.com/premium-psd/color-wing-png-isolated-transparent-background_1034016-9841.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1724976000&semt=ais_hybrid" alt="Diptrjirona - 10 Mg">
            <p class="product-name">Dipirona - 10 Mg</p>
            <a class="product-btn" href="produto.html">Ver Mais</a>
        </div>
        <div class="product-card">
            <img src="https://img.freepik.com/premium-psd/color-wing-png-isolated-transparent-background_1034016-9841.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1724976000&semt=ais_hybrid" alt="Omeghhfda 3 - 120 Cp">
            <p class="product-name">Omega 3 - 120 Cp</p>
            <a class="product-btn" href="produto.html">Ver Mais</a>
        </div>
        <!-- Adicione mais produtos conforme necessário -->
    </section>

    <script src="javaScript/busca.js"></script>
</body>
</html>