<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/produto.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="home.html">
                <img src="img/Logo_pequena.png" alt="BuscaPharma">
            </a>
        </div>

        <nav>
            <a class="linksExternos" href="home.html">Home</a>
            <a class="linksExternos" href="Agendamentos.html">Agendamentos</a>
            <a class="linksExternos" href="Medicamentos.html">Medicamentos</a>
            <a class="botoes" href="user_register.html"><button class="btnRegister">Cadastre-se</button></a>
            <a class="botoes" href="home.html"><button class="btnLogin">Logar</button></a>
        </nav>
    </header>

    <div class="product-gallery">
        <div class="thumbnails">
            <img src="img/capa-medicamentos-genericos.jpg" alt="Thumbnail 1" class="thumbnail"
                data-large="img/capa-medicamentos-genericos.jpg">
            <img src="img/Logo_Login_cadastro.png" alt="Thumbnail 2" class="thumbnail"
                data-large="img/Logo_Login_cadastro.png">
            <img src="img/advil bacana.jpg" alt="Thumbnail 3" class="thumbnail" data-large="img/advil bacana.jpg">
            <img src="img/advil bacana.png" alt="Thumbnail 4" class="thumbnail" data-large="img/advil bacana.jpg">
        </div>
        <div class="main-image">
            <img src="img/capa-medicamentos-genericos.jpg" alt="Imagem Principal" id="mainImage">
        </div>
    </div>
    <div class="prodDesc">
        <h1 class="titulo">Medicamento Generico Teudos</h1>
        <br>
        <p>Rhythm Heaven: Uma Sinfonia de Diversão e Precisão<br>
            Rhythm Heaven, desenvolvido pela Nintendo SPD e lançado para o Nintendo DS em 2008,<br>
            é um título que transcende o simples conceito de jogos de ritmo. Com sua jogabilidade<br>
            inovadora e apresentação encantadora, o jogo se destaca como uma joia única dentro do gênero.<br>
            Gameplay e Mecanismo<br>
            No coração de Rhythm Heaven está um sistema de jogabilidade baseado em ritmo que desafia<br>
            a coordenação e o tempo do jogador. A proposta é simples: os jogadores devem tocar,<br>
            pressionar e sincronizar comandos no ritmo da música para completar mini-jogos<br>
            variados e cativantes. Cada mini-jogo possui um conceito distinto, mas todos exigem<br>
            precisão e sintonia com a batida musical. Os controles são intuitivos,<br>
            utilizando apenas toques e toques duplos na tela sensível ao toque do DS.<br>
            Isso permite que o jogo seja acessível para jogadores de todas as idades,<br>
            enquanto mantém um nível de desafio que recompensa a prática e o aperfeiçoamento.
        </p>
        <div class="button-container">
            <a href="localizarRemedio.html"><button>Localizar Medicamento</button></a>
            <a href="agendarHorario.html"><button>Agendar horário</button></a>
        </div>
    </div>

    <script src="javaScript/produto.js"></script>
</body>

</html>