<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="logoFundo">
        <img src="img/Logo_Login_cadastro.png" alt="Logo">
    </div>

    <div class="wrapper">
        <div class="form-box login">
            <h2>Realizar Login</h2>
            <form action="#">
                <!-- Campo email login-->
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                    <input type="email" name="email" id="email" required>
                    <label>Email</label>                    
                </div>  

                <!-- Campo senha login-->
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <!-- Adicionando o ID ao campo de senha -->
                    <input type="password" id="password" required>
                    <label>Senha</label>
                </div>

                <!-- Show Password Container -->
                <div class="show-password-container">
                    <input type="checkbox" id="show-password">
                    <label for="show-password">Mostrar Senha</label>
                </div>

                <div class="login" style="font-size: medium;">
                    <button type="submit" class="btn"><b>Login</b></button>
                </div>

                <!--Erros de email / senha-->
                <div class="erro" id="email-required-error"></div>
                <div class="erro" id="password"></div>
                <div class="erro" id="email-invalid-error"></div>

                <div class="login-register">
                    <p>Não possui uma conta?<a href="user_register.html" class="register-link"><b>Registre-se</b></a></p></br>
                    <a href="esqueci_senha.html" style="color: black;"><b>Esqueceu senha</b></a>
                </div>
            </form>
        </div>  
    </div>
    <script src="javaScript/login.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>